
OLLAMA_BASE_URL=http://localhost:11434
LLM_MODEL=llama3.2
EMBEDDING_MODEL=nomic-embed-text
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
COLLECTION_NAME=hh_income
```

---

###  CSV files WILL BE ADDED TO THE DB
These 5 CSV files into the `datasets\` folder:
```
dosm-chatbot\datasets\hh_income.csv
dosm-chatbot\datasets\hh_income_state.csv
dosm-chatbot\datasets\hh_income_district.csv
dosm-chatbot\datasets\hh_income_parlimen.csv
dosm-chatbot\datasets\hh_income_dun.csv